@tailwind base;
@tailwind components;
@tailwind utilities;

.home2 {
  background-color: #121212;
}
.home2 h1 {
  font-family: "Monument";
  color: #ff77f4;
  cursor: crosshair;
}
.cursor-follow {
  background: url(favicon.ico) no-repeat 50% 50%;
  background-size: cover;
  z-index: 2;
  user-select: none;
  pointer-events: none;
  transform: translate(5px, 5px);
}
